<div class="no-scroll">

  <mat-card class="form-card">
    <form [formGroup]="funcionarioForm" (ngSubmit)="submit()" #formDit="ngForm">
      <input type="hidden" formControlName="id">

      <mat-card-header class="header-content">
        <h1>{{tituloPage}}</h1>
      </mat-card-header>

        <div class="input-box">
          <mat-form-field>
            <mat-label>Nome:</mat-label>
            <input matInput type="text" formControlName="nome" required>
          </mat-form-field>
        </div>

        <div class="input-box">
          <mat-form-field>
            <mat-label>Sobrenome:</mat-label>
            <input matInput type="text" formControlName="sobrenome" required>
          </mat-form-field>
        </div>

        <div class="input-box">
          <mat-form-field>
            <mat-label>Departamento:</mat-label>
            <mat-select id="departamento" formControlName="departamento" required>
              <mat-option value="Atendimento">Atendimento</mat-option>
              <mat-option value="Compras">Compras</mat-option>
              <mat-option value="Desenvolvimento">Desenvolvimento</mat-option>
              <mat-option value="Financeiro">Financeiro</mat-option>
              <mat-option value="RH">RH</mat-option>
              <mat-option value="Zeladoria">Zeladoria</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="input-box">
          <mat-form-field>
            <mat-label>Turno:</mat-label>
            <mat-select id="turno" formControlName="turno" required>
              <mat-option value="Manha">Manhã</mat-option>
              <mat-option value="Tarde">Tarde</mat-option>
              <mat-option value="Noite">Noite</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="btn-box">
          <button type="submit" [disabled]="!funcionarioForm.valid" mat-raised-button color="accent">{{btnAcao}}</button>
          <button routerLink="" mat-raised-button style="color: #ff4081" >Voltar</button>
        </div>

    </form>
  </mat-card>

</div>
