.no-scroll {
  overflow: hidden !important;
}

.form-card {
  width: 80%;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;

  background: linear-gradient(to bottom right, #e2e2e2, #a1a1a1);
}

mat-card-header {
  text-align: center;
  justify-content: center;
  align-items: center;
}

mat-form-field {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
}

.btn-box {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 500px;
  column-gap: 20px;

  margin-bottom: 20px;
}

.btn-box button {
  width: 30%;
}
