<div class="div-all">
  <div class="btn-cadastro">
    <button>Cadastrar novo Funcionário</button>
  </div>

  <div class="search">
    <label>
      <input type="text" placeholder="Pesquisar por Nome" (input)="search($event)">
    </label>
    <label>
      <input type="text" placeholder="Pesquisar por ID" (input)="searchId($event)">
    </label>
  </div>

  <div class="table">
    <table>
      <thead>
        <tr>
          <th>Status</th> <!--status-->
          <th>ID</th>
          <th>Nome</th>
          <th>Sobrenome</th>
          <th>Departamento</th>
          <th>Ações</th>
          <th>Excluir</th>
        </tr>
      </thead>

      <tbody *ngFor = "let funcionario of funcionarios" >
        <tr>
          <td>
            <div *ngIf="funcionario.status == true; else inativo">
              <img src="assets/images/Ativo.png" alt="status-ativo-funcionario">
            </div>
            <ng-template #inativo>
              <img src="assets/images/Inativo.png" alt="status-inativo-funcionario">
            </ng-template>
          </td>
          <td>{{funcionario.id}}</td>
          <td>{{funcionario.nome}}</td>
          <td>{{funcionario.sobrenome}}</td>
          <td>{{funcionario.departamento}}</td>
          <td>
            <button>Editar</button>
            <button>Detalhes</button>
          </td>
          <td>
            <button>Excluir</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
