<div class="all">
  <mat-card class="table">

    <div class="btn-cadastro">
      <button routerLink="/cadastro" mat-raised-button color="primary">Cadastrar novo Funcionário</button>
    </div>

    <div class="search">
        <mat-form-field id="search-box">
          <mat-label>Pesquisar por Nome:</mat-label>
          <input matInput type="text" id="searchNome-funcionario" (input)="search($event)">
        </mat-form-field>

        <mat-form-field id="search-box">
          <mat-label>Pesquisar por ID:</mat-label>
          <input matInput type="text" id="searchID-funcionario" (input)="searchId($event)">
        </mat-form-field>
    </div>

    <table mat-table [dataSource]="funcionarios">
      <tr mat-header-row *matHeaderRowDef="colunas"></tr>
      <tr mat-row *matRowDef="let row; columns: colunas;"></tr>

      <ng-container matColumnDef="Status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let funcionario">
          <div *ngIf="funcionario.status == true; else inativo">
            <img src="assets/images/Ativo.png" alt="status-ativo-funcionario">
          </div>

          <ng-template #inativo>
            <img src="assets/images/Inativo.png" alt="status-inativo-funcionario">
          </ng-template>
          </td>
      </ng-container>

      <ng-container matColumnDef="ID">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let funcionario"> {{funcionario.id}}</td>
      </ng-container>

      <ng-container matColumnDef="Nome">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let funcionario"> {{funcionario.nome}}</td>
      </ng-container>

      <ng-container matColumnDef="Sobrenome">
        <th mat-header-cell *matHeaderCellDef> Sobrenome </th>
        <td mat-cell *matCellDef="let funcionario"> {{funcionario.sobrenome}}</td>
      </ng-container>

      <ng-container matColumnDef="Departamento">
        <th mat-header-cell *matHeaderCellDef> Departamento </th>
        <td mat-cell *matCellDef="let funcionario"> {{funcionario.departamento}}</td>
      </ng-container>

      <ng-container matColumnDef="Ações" class="acoes">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let funcionario">
          <button id="acoes" routerLink="/editar/{{funcionario.id}}" mat-raised-button color="accent">Editar</button>
          <button id="acoes"routerLink="/detalhes/{{funcionario.id}}" mat-raised-button style="color: #ff4081">Detalhes</button>
        </td>
      </ng-container>

      <ng-container matColumnDef="Excluir">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let funcionario">
          <button routerLink="/excluir/{{funcionario.id}}" mat-raised-button color="warn">Excluir</button>
        </td>
      </ng-container>

    </table>
  </mat-card>

</div>
