<mat-card class="form-card-detalhes">
  <div *ngIf="funcionario">
    <form>
      <mat-card-header class="header-content">
        <h1>Detalhes do Funcionário</h1>
      </mat-card-header>

      <div class="box-detalhes">
        <div class="detalhes-column1">
          <mat-form-field>
            <label>Nome:</label>
            <input matInput type="text" value="{{funcionario.nome}}" disabled>
          </mat-form-field>

          <mat-form-field>
            <label>Sobrenome:</label>
            <input matInput type="text" value="{{funcionario.sobrenome}}" disabled>
          </mat-form-field>

          <mat-form-field>
            <label>Departamento:</label>
            <input matInput type="text" value="{{funcionario.departamento}}" disabled>
          </mat-form-field>

          <mat-form-field>
            <label>Turno:</label>
            <input matInput type="text" value="{{funcionario.turno}}" disabled>
          </mat-form-field>
        </div>

        <div class="detalhes-column2">
          <mat-form-field>
            <label>Status:</label>
            <input matInput type="text" value="{{funcionario.status == true ? 'Ativo' : 'Inativo'}}" disabled>
          </mat-form-field>

          <mat-form-field>
            <label>Data de Criação:</label>
            <input matInput type="text" value="{{funcionario.dataDeCriacao}}" disabled>
          </mat-form-field>

          <mat-form-field>
            <label>Data de Alteração:</label>
            <input matInput type="text" value="{{funcionario.dataDeAlteracao}}" disabled>
          </mat-form-field>
        </div>
      </div>


    </form>
  </div>

  <div class="button-box">
    <button id="ativa" (click)="ativaFuncionario()" mat-raised-button >Ativar</button>
    <button id="inativa" (click)="inativaFuncionario()" mat-raised-button>Inativar</button>
  </div>

  <div class="button-voltar">
    <button id="voltar" routerLink="" mat-raised-button style="color: #ff4081" >Voltar</button>
  </div>

</mat-card>
