<h1>Detalhes do Funcionário</h1>

<div class="detalhes-funcionario" *ngIf="funcionario">
  <form>
    <div class="input-box-detalhes1">
      <label>Nome:</label>
      <input type="text" value="{{funcionario.nome}}" disabled>
    </div>

    <div class="input-box-detalhes2">
      <label>Sobrenome:</label>
      <input type="text" value="{{funcionario.sobrenome}}" disabled>
    </div>

    <div class="input-box-detalhes3">
      <label>Departamento:</label>
      <input type="text" value="{{funcionario.departamento}}" disabled>
    </div>

    <div class="input-box-detalhes4">
      <label>Turno:</label>
      <input type="text" value="{{funcionario.turno}}" disabled>
    </div>

    <div class="input-box-detalhes5">
      <label>Status:</label>
      <input type="text" value="{{funcionario.status == true ? 'Ativo' : 'Inativo'}}" disabled>
    </div>

    <div class="input-box-detalhes6">
      <label>Data de Criação:</label>
      <input type="text" value="{{funcionario.dataDeCriacao}}" disabled>
    </div>

    <div class="input-box-detalhes7">
      <label>Data de Alteração:</label>
      <input type="text" value="{{funcionario.dataDeAlteracao}}" disabled>
    </div>
  </form>

  <div class="button-box">
    <button (click)="ativaFuncionario()">Ativar</button>
    <button (click)="inativaFuncionario()">Inativar</button>
  </div>

  <div class="btn-voltar">
    <button routerLink="">Voltar</button>
  </div>

</div>
